<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My AI Assistant</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="login-container"></div>
    
    <div class="container">
        <h1>BARD POWERED CHATBOT</h1><br>
        <h2>: Talk to your own Assistant  :</h2>
    </div>

    <div class="chat-container"></div>

    <div class="prompt-area">
        <input type="text" id="prompt" placeholder="Ask something">
        <button id="btn">SEARCH</button>
    </div>
    
    <script src="index.js"></script>
</body>
</html>
